/* header */

.header {
    background-color: #ffffff;
    border-bottom: 3px solid #cccccc;
    font-family: Georgia, Times, "Times New Roman", serif;
}

/* Navigation bar */

.navBar {
    display: inline-flex;
    justify-content: flex-end;
    width: 53%;
    color: #777777;
}

.navBar a {
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    color: #777777;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

.navBar a:hover {
    color: #4aaaa5;
    font-weight: 500;
}

/* Display Name on the header */

.nameHeader {
    display: inline-block;
    padding-left: 15%;
    padding-bottom: 0%;
}

.nameHeader2 {
    background-color: #4aaaa5;
    border: double;
    border-color: #4aaaa5;
    padding-bottom: 0%;
}

/* Body Container */

.backContainer {
    background-image: url("../images/gravel.png");
    background-repeat: repeat;
    background-size: auto;
    padding-top: 30px;
    padding-bottom: 90px;
}

.container {
    width: 960px;
    overflow: auto;
    background-color: #ffffff;
    border: solid #dddddd 1px;
    padding: 20px 20px 20px 20px;
    margin-left: auto;
    margin-right: auto;
}

.container hr {
    border-color: #dddddd;
    border-style: solid;
}

.about img {
    float: left;
    padding: 0px 20px 10px 0px;
    height: 150px;
    width: 150;
}

/* footer */

.footer {
    padding-top: 0%;
    border-top: 7px solid #4aaaa5;
    background-color: #777777;
    height: 50px;
    position: relative;
    text-align: center;
    margin-bottom: -50px;
}

.footer span {
    position: absolute;
    bottom: 0;
    font-size: 12px;
    color: #cccccc;
}

/* general */

p {
    color: #777777;
    line-height: 1.6;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

body {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    padding-top: 0%;
}

h2 {
    font-family: Georgia, Times, "Times New Roman", serif;
    color: #4aaaa5;
    display: block;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

h1 {
    color: white;
    display: block;
    font-size: 2em;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

@media screen and (max-width: 980px) {
    .container {
        width: 80%;
     
    }

    .navBar {
       
        width: 50%;

    }
    .nameHeader {
        padding-left: 5%;
        padding-bottom: 0%;
    }
    
}

@media screen and (max-width: 768px) {
    .container {
        width: 80%;
    }
    .navBar {
       
        width: 50%;

    }
    .nameHeader {
        padding-left: 5%;
        padding-bottom: 0%;
    }
}

@media screen and (max-width: 640px) {
    .container {
        width: 80%;
    }

    .navBar {
       
        width: 100%;
        justify-content: flex-start;
        padding:10px;   
    }
    .nameHeader {
        
        padding-left: 5%;
        padding-bottom: 0%;
    }


}